<html>
    <h1 id="answer-string"></h1>
    <textarea id="chatText" rows="3" cols="30" autofocus></textarea>
    <button id="chatButton" onclick="btnClick()">전송</button>
    <h3>접속자</h3>
    <ul id="member_list">
        <% memberLists.forEach(function(member) { %>
        <li><%= member %></li>
        <% }); %>
    </ul>
    <h3>채팅</h3>
    <ul id="chat_list"></ul>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect("http://192.168.0.42:8080", {
        path: "/socket.io"
    });

    document.getElementById("chatText").addEventListener("keydown", e => {
        if (e.keyCode === 13) {
            e.preventDefault();
            document.getElementById("chatButton").click();
        }
    });

    function btnClick() {
        const msg = document.getElementById("chatText");
        let str = msg.value;

        socket.emit("sendChat", str);

        msg.value = "";
    }

    socket.on("newWord", answerString => {
        const answer = document.getElementById("answer-string");

        answer.innerText = answerString;
    });

    socket.on("recvChat", data => {
        const chat_list = document.getElementById("chat_list");
        const chat_elem = document.createElement("li");

        chat_elem.innerHTML = data;
        chat_list.append(chat_elem);
    });

    socket.on("winAlarm", data => {
        const chat_list = document.getElementById("chat_list");
        const chat_elem = document.createElement("li");
        const text = document.getElementById("chatText");
        const button = document.getElementById("chatButton");

        chat_elem.innerHTML = data;
        chat_list.append(chat_elem);

        text.disabled = true;
        button.disabled = true;
    });

    socket.on("resetGame", answerString => {
        const answer = document.getElementById("answer-string");
        const text = document.getElementById("chatText");
        const button = document.getElementById("chatButton");

        answer.innerText = answerString;
        text.value = "";
        text.disabled = false;
        text.focus();
        button.disabled = false;
    });

    socket.on("newMember", data => {
        const member_list = document.getElementById("member_list");
        const member_elem = document.createElement("li");
        const memeber_nickname = document.createTextNode(data);

        member_elem.appendChild(memeber_nickname);
        member_list.append(member_elem);
    });

    socket.on("exitMember", data => {
        const memberList = document
            .getElementById("member_list")
            .querySelectorAll("li");
        memberList.forEach(memberNickname => {
            if (memberNickname.innerText === data)
                memberNickname.parentNode.removeChild(memberNickname);
        });
    });
</script>
